<?xml version="1.0" encoding="UTF-8"?>
<suite name="softwaretestingmaterial">
 <test name="testngTest">
 <classes>
 <class name="enh.web.tests.SMITHS_TC_Plative_Saleslogin"/>
 </classes>
 </test>
</suite>


<!-- <suite name="IGP Test Automation Suite" >
	<test verbose="2" name="AllScripts">
	<classes>
		<class name="enh.web.tests.SMITHS_TC_Plative_Saleslogin" />
	</classes>
	
  </test> 
  
</suite> Default suite -->